/* ================================= 
  Base Element Styles
==================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

* {
  box-sizing: border-box;
}

body,
input,
button {
	/* font-family: 'Nunito', sans-serif; */
	font-family: 'Arvo', sans-serif;
}

body {
  font: 1em/1.5;
  color: #05d8e3;
	/* background: #CDE0FB; */
}

header {
	text-align: center;  
}

h1 {
	font-family: 'Arvo', sans-serif;
	color: #fff;
	font-size: 2.5em;
	text-shadow: 0 1px 0 rgba(49, 49, 49, 0.85);
	margin-top: 10px;
	background-color: yellow;
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
  text-decoration: none;
}

span {
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: yellow;
	border: 2px solid rgb(253, 253, 253);
	border-radius: 3px;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend {
	font-weight: bold;
	padding-top: .5em;
	border-top: 2px solid rgb(246, 248, 248);
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #000;
	display: block;
	margin-bottom: .5em;
	margin-top: 1em;
}

input,
select {
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #ebfeff;
	border: 2px solid rgb(125, 244, 250);
	border-radius: 3px;
	outline: none;
}

input:focus {
	background: #fff;
	border-color: #05d8e3;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #05d8e3;
	margin: 1.25em 0 .5em;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 4px;
	transition: all 0.5s;
}

button:hover {
	background: rgb(125, 244, 250);
}

input, 
select, 
option {
	font-family: 'roboto', sans-serif;
}


/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.shirt-box {
	width: 100%;
	padding: 5px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

.credit-card,
.paypal,
.bitcoin {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
}

.total-price {
	color: black;
	font-size: 1.25em;
	font-weight: 700;
	margin-bottom: 1.125em;
	margin-top: 1.5em;
	font-style: bold;

}

.error {
	color: red;
	font-size: 0.75em;
	margin-top: -0.75em;
}

.parallax {
	/* The image used */
	background-image: url("https://lh3.googleusercontent.com/jaJesKWGPLTaP2ZFqp0mJMPmHKF8MhCJVH4Q6emuQf6TmfIL2QR_G_AStIjCywpspjyP9047vhIm40sSyy2Em3q316KCiW_Xbb1O6_MfNUtTZviWtEzktLCqEocYaydbjdv0U_cIwKcLyKIXWMXDchLQc25xbTKObj-vIzBqbLklrGjxM-uAj11dKOi1-WPKXwzA6Qmdcx6sFBE0WTDw3pZ2KMp9cWdzxArsYBtOzmE0-PzpbLE0Kz6aYHRIJwT2VKBMoTIfK8vwfM5HwCFGvbcfcndSJ9VZCGT-PfTAv1Kgdx6td0qamoufJmNHqe1jA5X-hDAAHDGdjbcpj_Xm76-pDXSxHsWsexjc_zUHqb7uEHXzDfLsWPo8Q26vfmqN77jZufLk-IXlF_XvisbnaVNKPhNFWYw5BYQB8Olnk8SuKTRCW9f_7ubjjxLHfDuTXofgo3wbSeAwmPnpg5LPQYvKpu5htuK82ijWAADHMEsfRo0Eff2qsI0RgJmWoNMD05kaTVp5bG-hTUQujhuxw_U-SGwDBN9-RIwiIJfEY_acuDHSmEK3sqc7RokPCFLEeev7GF_5wh5tSYEBNV0ib-5vkazTma27bcyJyv9DPwH_ZeSE_wftlzfE6HOwdGT9QZ-Ck3ydPLIdJNN4UeQPWl_JDMVFK77jINqB38nE76PgUkkymbyXDyXD=w944-h629-no");
  
	/* Set a specific height */
	height: 100%;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}

	label {
		clear: both;
	}
}